<form>
    <span>From</span>
    <select [(ngModel)]="fromCurrency" name="fromCurrency">
        <option *ngFor="let currency of currencies" [ngValue]="currency">{{ currency.id }}</option>
    </select>
    <input type="number" [(ngModel)]="fromAmount" name="fromAmount"/>
    <span>To</span>
    <select [(ngModel)]="toCurrency" name="toCurrency">
        <option *ngFor="let currency of currencies" [ngValue]="currency">{{ currency.id }}</option>
    </select>
    <input type="number" [(ngModel)]="toAmount" name="toAmount"/>
    <button type="submit" (click)="convert()">Convert</button>
</form>